.contacts{
    margin: 25px 20px 60px 20px;
    
    .contact-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    h1{
        font-size: 18px;
        margin-top: -10px;
        margin-bottom: 0;
    }
    .contact-col{
        width: 160px;
        margin-top: 15px;
        margin-right: 10px;
        padding: 0;
        
        h3{
            font-size: 14px;
        }
        p{
            font-size: 14px;
            font-weight: 200;
        }
        a{
            display: inline-block;
            margin-right: 15px;
            margin-top: 10px;
        }
    }
}
@media (min-width: 520px){
    
    .contacts{
        margin-bottom: 90px;
        padding-top: 20px;
        h1{
            font-size: 20px;
        }
    }
}

@media (min-width: 900px){
    .contacts{
        margin: 25px 150px 100px 150px;
        
        .contact-container{
        justify-content: space-around;
       
            .contact-col{
                width: 160px;
                margin-right: 0;
                h3{
                    font-size: 16px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
}
@media (min-width: 1100px){
    .contacts{
        margin: 25px 150px 100px 150px;
        .contact-container
        {
           justify-content: space-between; 
        }
        
    }
}
