.header{
    .menu{
        transform: translateY(-5px);
    }
    .btn-secondary{
        color: #252525;
    }
    .new{
        a{
        color: #252525;
        }
    }
    .aboutUs{
        a{
        color: #252525;
        }
    }
    .money{
        span, svg{
        color: #252525;
        }
    }
    .catalog{
        a{
        color: #E0BEAB;
        }
    }
}