main{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 19px;
       
        h1{
            font-size: 18px;
        }
        p{
            margin-bottom: 0;
        }
        .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
        
                div{
                    text-align: center;
                    margin-top: 10px;
                   
                    p{
                        margin-bottom: 5px;
                    }
                }
        }
}
@media (min-width: 600px){
    main{
        .wrapper{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

                .item{
                    margin-right: 10px;
                }
                div{
                    text-align: center;
                    width: 165px;
                }
        }
    }
}
@media (min-width: 900px){
    main{
        margin-left: 150px;
        margin-right: 150px;
        .wrapper{
            justify-content: space-around;
        }
    }
}
