.wrapper {
  margin: 10px 10px 50px 10px; }
  .wrapper .catalog {
    min-width: 335px;
    height: 40px;
    background-color: #E0BEA2;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px; }
    .wrapper .catalog h1 {
      display: inline; }
    .wrapper .catalog ul {
      display: none; }
  .wrapper .filters {
    min-width: 335px;
    border-bottom: 0.3px solid rgba(37, 37, 37, 0.5);
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    margin: 10px; }
    .wrapper .filters .filter {
      cursor: pointer; }
    .wrapper .filters .filterDesktop {
      display: none; }
    .wrapper .filters p {
      display: inline-block; }
  .wrapper .clothes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    .wrapper .clothes .jacket {
      display: inline-block;
      min-height: 326px;
      position: relative;
      transition: .5s;
      flex: 1 1 50%;
      padding: 10px; }
      .wrapper .clothes .jacket > div {
        width: 100%; }
      .wrapper .clothes .jacket img {
        min-width: 100%; }
      .wrapper .clothes .jacket img:hover {
        transform: scale(1.1);
        z-index: 1; }
      .wrapper .clothes .jacket .lable svg {
        position: absolute;
        right: 10px;
        top: 10px; }
      .wrapper .clothes .jacket .lable svg:nth-child(2) {
        transform: translate(-60%, 75%); }
      .wrapper .clothes .jacket .specification {
        padding-top: 10px; }
        .wrapper .clothes .jacket .specification p {
          margin: 0;
          padding-top: 5px;
          font-size: 14px;
          text-align: center; }
          .wrapper .clothes .jacket .specification p span {
            color: #E0BEA2; }
        .wrapper .clothes .jacket .specification p:nth-of-type(2) {
          font-weight: 700; }
        .wrapper .clothes .jacket .specification .sizes {
          text-align: center;
          padding-top: 10px; }
          .wrapper .clothes .jacket .specification .sizes a {
            color: rgba(37, 37, 37, 0.5);
            font-size: 14px;
            display: inline-block;
            padding-right: 2px; }
        .wrapper .clothes .jacket .specification .colors {
          text-align: center; }

@media (min-width: 900px) {
  .wrapper {
    margin: 30px 150px 50px 150px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 40px auto;
    grid-template-areas: "catalog filters" "catalog clothes"; }
    .wrapper .catalog {
      min-width: 155px;
      min-height: 700px;
      background-color: #fff;
      color: #252525;
      text-align: left;
      padding-top: none;
      grid-area: catalog;
      margin-left: 0; }
      .wrapper .catalog h1 {
        display: block;
        padding-bottom: 10px; }
      .wrapper .catalog svg {
        display: none; }
      .wrapper .catalog ul {
        display: block;
        padding-left: 0; }
      .wrapper .catalog li {
        line-height: 2; }
      .wrapper .catalog a {
        color: #252525; }
    .wrapper .filters {
      border-bottom: none;
      justify-content: left;
      grid-area: filters;
      margin: 0; }
      .wrapper .filters .btn-secondary {
        color: #252525;
        background-color: #fff;
        border: none; }
      .wrapper .filters .filterMob {
        display: none; }
      .wrapper .filters .filterDesktop {
        display: block; }
      .wrapper .filters p {
        display: inline-block;
        margin-left: 20px; }
    .wrapper .clothes {
      grid-area: clothes;
      margin-left: 10px; }
      .wrapper .clothes .jacket {
        margin-top: 10px;
        flex: 1 1 33%; } }

@media (min-width: 1430px) {
  .wrapper .clothes .jacket {
    min-width: 305px;
    min-height: 360px;
    flex: 1 1 25%; } }
