header {
  width: 100%; }

.header {
  background-color: transparent;
  height: 45px;
  max-width: 100%;
  margin: 20px;
  display: grid;
  grid-template-columns: 10% 10% 60% 10% 10%;
  grid-template-rows: 24px;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  position: absolute; }
  .header .menu {
    max-width: 10%;
    transform: translateY(-8px);
    justify-self: left; }
    .header .menu .label {
      height: 24px;
      width: 34px; }
      .header .menu .label label {
        cursor: pointer; }
    .header .menu input {
      display: none; }
    .header .menu2 {
      transform: translateY(-7px); }
    .header .menu3 {
      transform: translateY(-14px); }
  .header .lang {
    color: #fff;
    transform: translateY(-3px);
    min-width: 50px;
    padding-left: 10px; }
  .header .btn-secondary {
    background-color: transparent;
    border: 0px; }
  .header .logo {
    text-align: center;
    min-width: 40%; }
    .header .logo .logo_desktop {
      display: none; }
  .header .heart {
    width: 15%;
    transform: translateX(-15px);
    justify-self: end; }
    .header .heart svg {
      cursor: pointer; }
    .header .heart .heart_desktop {
      display: none; }
  .header .cart {
    width: 15%;
    justify-self: end;
    transform: translateX(-15px); }
    .header .cart svg {
      cursor: pointer; }
    .header .cart .cart_desktop {
      display: none; }
  .header .desktop {
    display: none; }

@media (min-width: 900px) {
  .header {
    margin: 32px 150px; } }

@media (min-width: 1250px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'menu . new cat cat about logo lang money search person heart kart';
    height: 40px; }
    .header .menu {
      grid-area: menu;
      transform: translateY(-1px);
      justify-self: start; }
    .header .new {
      grid-area: new;
      transform: translateY(10px); }
    .header .catalog {
      grid-area: cat;
      transform: translate(10px, 10px); }
    .header .aboutUs {
      grid-area: about;
      transform: translateY(10px); }
    .header .logo {
      grid-area: logo; }
      .header .logo .logo_desktop {
        display: inline-block; }
      .header .logo .logo_mob {
        display: none; }
    .header .lang {
      grid-area: lang;
      transform: translate(0px, 0px); }
    .header .money {
      grid-area: money;
      transform: translate(20px); }
    .header .search {
      grid-area: search;
      transform: translate(80px); }
    .header .person {
      grid-area: person;
      transform: translate(80px); }
    .header .heart {
      grid-area: heart;
      transform: translate(20px); }
      .header .heart .heart_mob {
        display: none; }
      .header .heart .heart_desktop {
        display: inline-block; }
    .header .cart {
      grid-area: cart;
      transform: translate(-20px, -25px); }
      .header .cart .cart_desktop {
        display: block; }
      .header .cart .cart_mob {
        display: none; }
    .header .desktop {
      display: block; }
      .header .desktop a {
        color: #fff; }
      .header .desktop span {
        color: #fff; } }
