.header .menu {
  transform: translateY(-5px); }

.header .btn-secondary {
  color: #252525; }

.header .new a {
  color: #252525; }

.header .aboutUs a {
  color: #252525; }

.header .money span, .header .money svg {
  color: #252525; }

.header .catalog a {
  color: #E0BEAB; }
