section {
  font-size: 14px;
  margin: auto 25px; }
  section h1 {
    font-size: 18px; }
  section p {
    margin-bottom: 10px; }
  section ul {
    padding-left: 0; }
  section li {
    margin-bottom: 5px;
    line-height: 20px; }
  section .wrapper {
    display: flex;
    flex-direction: column; }
    section .wrapper .step {
      margin-top: 15px;
      position: relative; }
      section .wrapper .step .iconeOne {
        position: absolute;
        top: 10%; }
      section .wrapper .step .iconeTwo {
        position: absolute;
        top: -3px; }
      section .wrapper .step .iconeThree {
        position: absolute;
        top: 33%; }
      section .wrapper .step .icone {
        width: 35px; }
        section .wrapper .step .icone .number {
          position: absolute;
          top: 10px;
          left: 0px; }
        section .wrapper .step .icone .triangleBig {
          position: absolute;
          left: 20.96%;
          top: -5px; }
      section .wrapper .step .text {
        max-width: 340px;
        max-height: 100px;
        margin-left: 55px;
        line-height: 20px; }

@media (min-width: 600px) {
  section {
    margin-left: 50px;
    margin-right: 50px; }
    section .wrapper {
      flex-direction: row; }
      section .wrapper .shipping {
        padding-left: 20px;
        max-width: 480px; }
        section .wrapper .shipping .payment {
          max-width: 480px; }
        section .wrapper .shipping .step {
          position: relative; }
    section .wrapperTwo {
      display: grid;
      grid-template-columns: repeat(3, 33%);
      grid-template-rows: 250px; }
      section .wrapperTwo .stepOne {
        align-self: center;
        padding-bottom: 0; }
      section .wrapperTwo .stepTwo {
        padding-left: 10px;
        padding-bottom: 0;
        align-self: center; }
      section .wrapperTwo .stepThree {
        padding-bottom: 0;
        padding-left: 10px; }
      section .wrapperTwo .block {
        vertical-align: middle;
        min-width: 150px;
        max-width: 500px; }
      section .wrapperTwo .blockOne {
        max-width: 200px; }
      section .wrapperTwo .blockTwo {
        max-width: 160px; }
      section .wrapperTwo .blockThree {
        transform: translateY(20%);
        min-width: 200px; }
        section .wrapperTwo .blockThree .iconeThree {
          transform: translateY(130%); } }

@media (min-width: 900px) {
  section {
    margin-left: 150px;
    margin-right: 150px; } }

@media (min-width: 1100px) {
  section .wrapperTwo .blockOne {
    max-width: 270px; }
  section .wrapperTwo .blockTwo {
    max-width: 200px;
    transform: translateY(-10%); }
  section .wrapperTwo .blockThree {
    transform: translateY(50%); }
    section .wrapperTwo .blockThree .iconeThree {
      transform: translateY(60%); } }

@media (min-width: 1255px) {
  section .wrapperTwo {
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 130px; }
    section .wrapperTwo .stepThree {
      align-self: center; }
    section .wrapperTwo .blockThree {
      transform: translateY(0); }
      section .wrapperTwo .blockThree p {
        width: 400px; }
      section .wrapperTwo .blockThree .iconeThree {
        transform: translateY(-10%); } }
